---
layout: default
---
<div class="container">
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="/about/">Lucia Williams</a>
    <a href="/members/">Lab Members</a>
    <a href="/research/">Research</a>
    <a href="/teaching/">Classes</a>
    <a href="/cv/">CV</a>
  </nav>
  
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>
    
    <div class="post-content">
      {{ content }}
    </div>
  </article>
</div>
